{% extends 'base.html.twig' %}

{% block title %}Opiniones{% endblock %}

{% block body %}
<div>
{{ form_start(posts) }}

<div class="col-md-5 col-md-offset-1">
    <div class="the-form">
        <p class="the-form__title heading3">Déjanos tu opinión</p>
                  
{% for message in app.flashes('exito')%}
        <div class="alert alert-success">
            {{message}}
        <div/>
{% endfor %}

        <div class="the-form__group">
            <div class="the-form__input"> {{ form_row(posts.autor) }}</div>
        </div>

        <div class="the-form__group">
            <div class="the-form__input"> {{ form_row(posts.ciudad) }}</div>
        </div>

        <div class="the-form__group">
            <div class="the-form__input"> {{ form_row(posts.comentario) }}</div>
        </div>

        <div >{{ form_row(posts.Enviar, {'attr': {'class': 'the-form__btn btn btn-lg btn-primary'}}) }}</div>
    </div>
</div>
{{ form_end(posts) }}
</div>

        <div style="color: black; margin-left: 9%; margin-bottom: 9%;">
          <h2 class="opinions__title heading2">
            Opiniones de otros guardianes
          </h2>
          <ul class="row">
          {% for post in dbPost %}
            <li class="col-md-8 ">
              <div class="opinion">
                <blockquote class="opinion__blq simple-bubble text-large">
                  {{post.comentario}}
                </blockquote>
                <p class="opinion__author text-large" style="text-align: right;">
                  {{post.autor}}
                </p>
                <p class="opinion__author-address" style="text-align: right;">
                  Desde {{post.ciudad}}
                </p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>


{% endblock %}

