{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}

{{ form_start(formulario) }}

<div class="col-md-5 col-md-offset-1">
    <div class="the-form">
        <p class="the-form__title heading3">Registrarse</p>
                  
{% for message in app.flashes('exito')%}
        <div class="alert alert-success">
            {{message}}
        <div/>
{% endfor %}

        <div class="the-form__group">
            <div class="the-form__input"> {{ form_row(formulario.email) }}</div>
        </div>

        <div class="the-form__group">
            <div class="the-form__input"> {{ form_row(formulario.password) }}</div>
        </div>

        <div >{{ form_row(formulario.Registrar, {'attr': {'class': 'the-form__btn btn btn-lg btn-primary'}}) }}</div>
    </div>
</div>

{{ form_end(formulario) }}
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

{% endblock %}
{# 
{{ form_start(formulario) }}
<div class="col-md-5 col-md-offset-1">
              <div class="the-form">
              
                <form action="">
                  <p class="the-form__title heading3">
                    Registrarse
                  </p>
                  
                  <div class="the-form__group">

                    <div class="the-form__input">
                    {{ form_row(formulario.email) }}
                    </div>
                  </div>

                  <div class="the-form__group">

                    <div class="the-form__input">
                    {{ form_row(formulario.password) }}
                    </div>
                  </div>

                  <div>
                        {{ form_row(formulario.registrar, {'attr': {'class': 'the-form__btn btn btn-lg btn-primary'}}) }}
                  </div>
                        
                </form>
                
              </div>

            </div>
  
          {{ form_end(formulario) }} 
          
          {% endblock %}#}