<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Maleteo{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('assets/styles/styles.css')}}">
    </head>

    <body>

    <div class="wrapper">
      <div class="container-fluid">
        <header class="header">
            <a href="{{path('main')}}"><img src="{{asset('assets/img/logo.svg')}}" alt="Maleteo"/><a/>
            <a href="{{path('registro')}}"><input class="the-form__btn btn btn-lg btn-primary" value="Registrarse"><a/>
            <a href="{{path('app_login')}}"><input class="the-form__btn btn btn-lg btn-primary" value="Iniciar Sesión"><a/>
            <a href="{{path('posts')}}"><input class="the-form__btn btn btn-lg btn-primary" value="Ver Opiniones"><a/>
          
        </header>
      </div>
  </div>

        {% block body %}
        
        
        {% endblock %}

  <footer class="footer">
    <div class="wrapper">
      <div class="container-fluid">
        <img src="{{asset('assets/img/logo.svg')}}"
            alt="Maleteo"
            class="footer__logo">
        <p class="footer__claim">
          Hecho con ❤️en Madrid
        </p>
      </div>
    </div>
  </footer>
        {% block javascripts %}{% endblock %}

    </body>

</html>
